<div
  *ngIf="card[1] !== '86' && (card.prodMegacredit !== '' || card.prodSteel !== '0' || card.prodTitanium !== '0' || card.prodPlant !== '0' || card.prodEnergy !== '0' || card.prodHeat !== '0')"
  class="production-bg">
  <div *ngIf="card.prodMegacredit !== ''" class="prod-box">
    <div class="prod mc">
      <strong>
        <app-quantity-display [card]="card" [quantity]="card.prodMegacredit"></app-quantity-display>
      </strong>
    </div>
  </div>
  <div *ngIf="card.prodSteel !== '0'" class="prod-box">
    <app-quantity-display [card]="card" [quantity]="card.prodSteel"></app-quantity-display>
    <div class="prod steel"><i class="fas fa-hammer"></i></div>
  </div>
  <div *ngIf="card.prodTitanium !== '0'" class="prod-box">
    <app-quantity-display [card]="card" [quantity]="card.prodTitanium"></app-quantity-display>
    <div class="prod titanium"><i class="far fa-star"></i></div>
  </div>
  <div *ngIf="card.prodPlant !== '0'" class="prod-box">
    <app-quantity-display [card]="card" [quantity]="card.prodPlant"></app-quantity-display>
    <div class="prod plant"><i class="fas fa-leaf "></i></div>
  </div>
  <div *ngIf="card.prodEnergy !== '0'" class="prod-box">
    <app-quantity-display [card]="card" [quantity]="card.prodEnergy"></app-quantity-display>
    <div class="prod energy"><i class="fas fa-bolt "></i></div>
  </div>
  <div *ngIf="card.prodHeat !== '0'" class="prod-box">
    <app-quantity-display [card]="card" [quantity]="card.prodHeat"></app-quantity-display>
    <div class="prod heat"><i class="fas fa-fire "></i></div>
  </div>
</div>
<div *ngIf="card[1] === '86'" class="production-bg">
  COPY
</div>