<div *ngIf="card">
    <div class="row">
        <div class="col-6 ">
            <div class="money " style="float: left; ">{{card[2]}}</div>
            <div class="float-left ">
                <h1>{{card[3]}}</h1>
            </div>
            <div class="float-right ">
                <div *ngFor="let i of counter(card[27]) " class=" tag science "><i class="fas fa-atom "></i></div>
                <div *ngFor="let i of counter(card[28]) " class="tag building "><i class="fas fa-warehouse "></i></div>
                <div *ngFor="let i of counter(card[29]) " class="tag space "><i class="fas fa-haykal "></i></div>
                <div *ngFor="let i of counter(card[30]) " class="tag microbe "><i class="fas fa-bug "></i></div>
                <div *ngFor="let i of counter(card[31]) " class="tag plant "><i class="fas fa-leaf "></i></div>
                <div *ngFor="let i of counter(card[32]) " class="tag animal "><i class="fas fa-paw "></i></div>
                <div *ngFor="let i of counter(card[33]) " class="tag city "><i class="fas fa-city "></i> </div>
                <div *ngFor="let i of counter(card[34]) " class="tag earth "><i class="fas fa-globe-americas "></i></div>
                <div *ngFor="let i of counter(card[35]) " class="tag jovian "></div>
                <div *ngFor="let i of counter(card[36]) " class="tag energy "><i class="fas fa-bolt "></i></div>
                <div *ngFor="let i of counter(card[37]) " class="tag venus ">V</div>
                <div *ngFor="let i of counter(card[38]) " class="tag event "><i class="fas fa-long-arrow-alt-down "></i></div>
            </div>
        </div>
        <div class="col-6 ">
            <pre>
                {{card | json}}
            </pre>
        </div>
    </div>
</div>