.white-bg {
  background-color: #fff;
  border-radius: 3px;
  z-index: 900;
  position: relative;
}


/* 
.surface-bg {
    background: #000 url(/assets/img/surfacebg2.png) no-repeat top left fixed;
} */
