<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

<div id="header">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Terraforming Mars Cards</h1>
                <button type="button" class="btn btn-light mt-2 mb-2">Light</button>
            </div>
        </div>
    </div>

</div>

<div class="app-container surface-bg pt-4">
    <div class="container white-bg pt-4 ">

        <router-outlet></router-outlet>

    </div>
</div>