#mars-bg {
    background: url(/assets/img/surfacebg.png) no-repeat top center fixed;
}

body {
    background: linear-gradient(#2C2020, #390F33);
}

.card-title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600
}

pre {
    counter-reset: line;
}

.building {
    background: linear-gradient(to bottom, #AF7B4C 19px, #9C693C 20px);
}

.earth {
    background: linear-gradient(to bottom, #175698 19px, #1B1B4F 20px);
}

.space {
    background: linear-gradient(to bottom, #6B6B6B 19px, #3C3C3C 20px);
}

.energy {
    background: linear-gradient(to bottom, #A13E8E 19px, #8A2986 20px);
}

.plant {
    background: linear-gradient(to bottom, #83C138 19px, #58B133 20px);
}

.microbe {
    background: linear-gradient(to bottom, #EAE845 19px, #B8CC13 20px);
}

.animal {
    background: linear-gradient(to bottom, #839D42 19px, #48753A 20px);
}

.science {
    background: linear-gradient(to bottom, #F7F9F8 19px, #F2F1EF 20px);
}

.event {
    background: linear-gradient(to bottom, #FCE907 19px, #FAD606 20px);
}

.city {
    background: linear-gradient(to bottom, #CCCCCC 19px, #A6A6A6 20px);
}

.venus {
    background: linear-gradient(to bottom, #07AAE3 19px, #0E7DC4 20px);
}

.science .fas {
    font-size: 20px;
}

.animal .fas {
    font-size: 18px;
    font-weight: bold;
}

.space .fas {
    color: #FFEC3D;
    font-size: 18px;
}

.plant .fas {
    color: #36844A;
    font-size: 14px;
}

.earth .fas {
    color: #fff;
    font-size: 18px;
}

.energy .fas {
    color: #fff;
    font-size: 18px;
}

.event .fas {
    font-size: 18px;
}

.jovian {
    background: url(/assets/img/jovian.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    padding-top: 0px;
}

.tag.vp {
    background: url(/assets/img/mars.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    font-weight: 900;
    font-size: 22px;
    vertical-align: middle;
    padding-top: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F9CD08;
}

.tag.venus {
    font-weight: 900;
    font-size: 16px;
    padding-top: 0px;
    color: #fff;
}

.tag {
    border: 2px solid #000;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-left: 3px;
    line-height: 28px;
}

td.type {
    height: 1px;
}

.type-Automated {
    border-left: 4px solid #7EB61F;
    height: 100%;
    margin: 4px 0;
}

.type-Active {
    border-left: 4px solid #2C7FC1;
    height: 100%;
    margin: 4px 0;
}

.type-Event {
    border-left: 4px solid #F6B205;
    height: 100%;
    margin: 4px 0;
}

.money {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    width: 32px;
    min-height: 32px;
    border-radius: 3px;
    background: linear-gradient(to bottom right, #F9E100, #F18F00);
    border: 2px solid #000;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

a {
    color: #47a5ed
}

#header {
    color: #f7f7f7;
    font-size: 14px;
}

.fas.fa-thermometer-full {
    background: -webkit-linear-gradient(#26BFF8, #D80A1E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hexagon {
    position: relative;
    width: 20px;
    height: 11.55px;
    background-color: #1C6AC6;
    margin: 5.77px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 5.77px solid #1C6AC6;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 5.77px solid #1C6AC6;
}