#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 287px 1667px #FFF, 903px 537px #FFF, 708px 920px #FFF, 1512px 708px #FFF, 727px 119px #FFF, 773px 1694px #FFF, 1097px 1204px #FFF, 1034px 1406px #FFF, 1242px 965px #FFF, 1482px 1819px #FFF, 1846px 742px #FFF, 544px 688px #FFF, 463px 1378px #FFF, 80px 1216px #FFF, 50px 1915px #FFF, 870px 807px #FFF, 1506px 1202px #FFF, 43px 1103px #FFF, 234px 428px #FFF, 1668px 589px #FFF, 510px 1395px #FFF, 344px 1545px #FFF, 1630px 401px #FFF, 1405px 669px #FFF, 344px 446px #FFF, 622px 1397px #FFF, 503px 1521px #FFF, 1758px 438px #FFF, 1984px 852px #FFF, 747px 1245px #FFF, 825px 916px #FFF, 1236px 690px #FFF, 809px 251px #FFF, 1331px 154px #FFF, 1967px 1738px #FFF, 452px 1120px #FFF, 155px 559px #FFF, 1695px 1642px #FFF, 1425px 1600px #FFF, 579px 163px #FFF, 896px 931px #FFF, 158px 1010px #FFF, 142px 763px #FFF, 649px 1161px #FFF, 1994px 979px #FFF, 1779px 75px #FFF, 1213px 194px #FFF, 1072px 1242px #FFF, 746px 312px #FFF, 704px 49px #FFF, 140px 1169px #FFF, 327px 1653px #FFF, 1862px 1897px #FFF, 1225px 1958px #FFF, 1032px 1505px #FFF, 743px 1136px #FFF, 282px 904px #FFF, 1227px 1158px #FFF, 899px 679px #FFF, 188px 577px #FFF, 936px 825px #FFF, 846px 859px #FFF, 981px 1247px #FFF, 1956px 964px #FFF, 887px 1597px #FFF, 1883px 68px #FFF, 831px 367px #FFF, 1967px 92px #FFF, 242px 1000px #FFF, 1832px 1359px #FFF, 1712px 1695px #FFF, 210px 717px #FFF, 419px 1599px #FFF, 540px 161px #FFF, 1151px 1562px #FFF, 543px 1969px #FFF, 1513px 1590px #FFF, 804px 659px #FFF, 1400px 673px #FFF, 535px 541px #FFF, 377px 1711px #FFF, 625px 334px #FFF, 1477px 1254px #FFF, 413px 3px #FFF, 1519px 1291px #FFF, 955px 1413px #FFF, 387px 1188px #FFF, 792px 1993px #FFF, 674px 139px #FFF, 380px 440px #FFF, 971px 1666px #FFF, 485px 1703px #FFF, 887px 1639px #FFF, 1984px 1031px #FFF, 1391px 1040px #FFF, 1014px 1987px #FFF, 1433px 1943px #FFF, 42px 16px #FFF, 813px 1078px #FFF, 1124px 1477px #FFF, 1918px 276px #FFF, 1405px 1603px #FFF, 572px 559px #FFF, 318px 774px #FFF, 1889px 1523px #FFF, 753px 981px #FFF, 798px 1254px #FFF, 936px 724px #FFF, 414px 1289px #FFF, 1292px 1121px #FFF, 111px 401px #FFF, 1031px 692px #FFF, 1157px 1354px #FFF, 1971px 1084px #FFF, 1111px 270px #FFF, 177px 498px #FFF, 1462px 846px #FFF, 1280px 567px #FFF, 233px 242px #FFF, 1891px 1654px #FFF, 662px 1342px #FFF, 348px 1281px #FFF, 529px 1853px #FFF, 45px 442px #FFF, 1298px 1344px #FFF, 778px 813px #FFF, 143px 1454px #FFF, 967px 454px #FFF, 758px 575px #FFF, 1169px 87px #FFF, 1193px 1419px #FFF, 393px 222px #FFF, 429px 791px #FFF, 1072px 912px #FFF, 1904px 813px #FFF, 733px 1661px #FFF, 501px 229px #FFF, 499px 675px #FFF, 1579px 494px #FFF, 214px 1709px #FFF, 1855px 1231px #FFF, 779px 1596px #FFF, 120px 816px #FFF, 1689px 278px #FFF, 696px 410px #FFF, 253px 852px #FFF, 32px 274px #FFF, 966px 1095px #FFF, 899px 995px #FFF, 271px 1229px #FFF, 860px 673px #FFF, 1909px 1525px #FFF, 111px 473px #FFF, 993px 553px #FFF, 1350px 524px #FFF, 938px 703px #FFF, 251px 996px #FFF, 1637px 1447px #FFF, 443px 1952px #FFF, 425px 986px #FFF, 1883px 673px #FFF, 74px 1386px #FFF, 235px 1766px #FFF, 1364px 1088px #FFF, 1726px 497px #FFF, 1122px 1932px #FFF, 689px 420px #FFF, 29px 349px #FFF, 1602px 1544px #FFF, 87px 691px #FFF, 784px 166px #FFF, 276px 456px #FFF, 1652px 832px #FFF, 16px 51px #FFF, 1188px 1196px #FFF, 293px 1900px #FFF, 1127px 1448px #FFF, 812px 1796px #FFF, 1148px 809px #FFF, 1799px 739px #FFF, 913px 735px #FFF, 370px 917px #FFF, 209px 712px #FFF, 859px 1394px #FFF, 364px 1054px #FFF, 262px 1321px #FFF, 176px 175px #FFF, 1410px 1273px #FFF, 1611px 1518px #FFF, 1081px 1056px #FFF, 1806px 861px #FFF, 699px 1776px #FFF, 586px 1552px #FFF, 1793px 618px #FFF, 824px 1386px #FFF, 1241px 1977px #FFF, 58px 1701px #FFF, 909px 67px #FFF, 1436px 721px #FFF, 1704px 1069px #FFF, 262px 49px #FFF, 739px 1838px #FFF, 1929px 1167px #FFF, 662px 342px #FFF, 1229px 339px #FFF, 854px 1557px #FFF, 1153px 818px #FFF, 88px 1700px #FFF, 467px 1326px #FFF, 692px 379px #FFF, 1980px 1193px #FFF, 436px 97px #FFF, 1384px 1967px #FFF, 970px 1220px #FFF, 1124px 458px #FFF, 1448px 1712px #FFF, 958px 1826px #FFF, 937px 385px #FFF, 1113px 1278px #FFF, 1476px 1789px #FFF, 1449px 882px #FFF, 148px 867px #FFF, 1867px 1473px #FFF, 28px 41px #FFF, 335px 1581px #FFF, 1782px 1681px #FFF, 644px 355px #FFF, 1548px 454px #FFF, 1163px 947px #FFF, 438px 1802px #FFF, 662px 1946px #FFF, 1800px 759px #FFF, 901px 791px #FFF, 1462px 1174px #FFF, 1911px 1358px #FFF, 464px 950px #FFF, 1374px 1559px #FFF, 1276px 366px #FFF, 351px 909px #FFF, 350px 105px #FFF, 1074px 369px #FFF, 436px 1496px #FFF, 168px 1010px #FFF, 1089px 833px #FFF, 577px 1231px #FFF, 794px 1388px #FFF, 1271px 1613px #FFF, 880px 1382px #FFF, 1367px 318px #FFF, 424px 177px #FFF, 1827px 1826px #FFF, 677px 1163px #FFF, 659px 655px #FFF, 624px 1976px #FFF, 358px 784px #FFF, 534px 138px #FFF, 861px 1982px #FFF, 1183px 448px #FFF, 1389px 1920px #FFF, 1821px 1436px #FFF, 1656px 360px #FFF, 928px 50px #FFF, 1037px 1813px #FFF, 557px 113px #FFF, 470px 529px #FFF, 1132px 1041px #FFF, 1783px 629px #FFF, 1638px 1196px #FFF, 657px 745px #FFF, 125px 1609px #FFF, 1935px 1779px #FFF, 427px 395px #FFF, 1905px 1252px #FFF, 231px 1184px #FFF, 1659px 1449px #FFF, 1083px 1042px #FFF, 993px 1515px #FFF, 1065px 1276px #FFF, 1048px 1860px #FFF, 1778px 1517px #FFF, 169px 63px #FFF, 1480px 472px #FFF, 801px 1965px #FFF, 83px 1250px #FFF, 1384px 1780px #FFF, 992px 1580px #FFF, 1994px 1662px #FFF, 1241px 27px #FFF, 1963px 937px #FFF, 1136px 1514px #FFF, 263px 1404px #FFF, 619px 299px #FFF, 1832px 1198px #FFF, 608px 857px #FFF, 124px 1713px #FFF, 892px 1975px #FFF, 369px 810px #FFF, 969px 556px #FFF, 1139px 1789px #FFF, 462px 1041px #FFF, 1777px 790px #FFF, 187px 1103px #FFF, 270px 462px #FFF, 92px 611px #FFF, 940px 158px #FFF, 1542px 1398px #FFF, 1217px 160px #FFF, 990px 538px #FFF, 442px 1649px #FFF, 376px 16px #FFF, 483px 371px #FFF, 725px 919px #FFF, 1239px 1043px #FFF, 1936px 428px #FFF, 1203px 328px #FFF, 993px 1538px #FFF, 1937px 939px #FFF, 758px 1234px #FFF, 1710px 854px #FFF, 1095px 1794px #FFF, 1891px 653px #FFF, 418px 299px #FFF, 41px 1175px #FFF, 929px 1597px #FFF, 1924px 1677px #FFF, 1384px 1491px #FFF, 129px 184px #FFF, 591px 700px #FFF, 892px 1943px #FFF, 779px 830px #FFF, 508px 286px #FFF, 401px 1768px #FFF, 674px 645px #FFF, 1970px 1686px #FFF, 842px 1973px #FFF, 734px 1782px #FFF, 1756px 177px #FFF, 783px 1446px #FFF, 1305px 1967px #FFF, 412px 1606px #FFF, 1480px 524px #FFF, 1227px 948px #FFF, 1921px 8px #FFF, 672px 1364px #FFF, 1088px 1334px #FFF, 1702px 29px #FFF, 534px 975px #FFF, 822px 1296px #FFF, 1168px 419px #FFF, 1292px 1180px #FFF, 1568px 709px #FFF, 1973px 440px #FFF, 771px 332px #FFF, 1320px 145px #FFF, 921px 1537px #FFF, 473px 1457px #FFF, 1792px 739px #FFF, 1683px 1081px #FFF, 1965px 236px #FFF, 1922px 1588px #FFF, 571px 1356px #FFF, 1121px 1601px #FFF, 1409px 1812px #FFF, 1719px 551px #FFF, 428px 1862px #FFF, 1818px 48px #FFF, 892px 1002px #FFF, 111px 324px #FFF, 643px 1739px #FFF, 1911px 316px #FFF, 1015px 1498px #FFF, 1762px 966px #FFF, 1147px 551px #FFF, 1048px 1970px #FFF, 1376px 1553px #FFF, 713px 727px #FFF, 566px 1292px #FFF, 63px 1126px #FFF, 807px 1015px #FFF, 1756px 1040px #FFF, 699px 1848px #FFF, 1145px 1575px #FFF, 730px 1424px #FFF, 1961px 1063px #FFF, 359px 1679px #FFF, 786px 488px #FFF, 470px 83px #FFF, 167px 492px #FFF, 107px 1132px #FFF, 1248px 30px #FFF, 937px 599px #FFF, 1792px 989px #FFF, 227px 893px #FFF, 1630px 983px #FFF, 1602px 773px #FFF, 357px 1575px #FFF, 1161px 656px #FFF, 1429px 1098px #FFF, 1652px 1188px #FFF, 1173px 783px #FFF, 1277px 1865px #FFF, 10px 1166px #FFF, 1682px 343px #FFF, 364px 637px #FFF, 966px 1134px #FFF, 1854px 1437px #FFF, 1943px 1439px #FFF, 1789px 714px #FFF, 1595px 1143px #FFF, 1340px 365px #FFF, 74px 754px #FFF, 1570px 1826px #FFF, 714px 431px #FFF, 598px 400px #FFF, 850px 94px #FFF, 507px 1885px #FFF, 1241px 1172px #FFF, 1105px 1502px #FFF, 555px 1698px #FFF, 381px 1553px #FFF, 749px 568px #FFF, 1344px 852px #FFF, 618px 655px #FFF, 14px 57px #FFF, 1483px 429px #FFF, 1131px 1725px #FFF, 877px 1413px #FFF, 856px 1665px #FFF, 41px 80px #FFF, 1091px 1495px #FFF, 770px 863px #FFF, 253px 727px #FFF, 1259px 594px #FFF, 1484px 585px #FFF, 1266px 887px #FFF, 16px 1510px #FFF, 1087px 1743px #FFF, 616px 1692px #FFF, 79px 933px #FFF, 896px 255px #FFF, 1660px 1312px #FFF, 77px 1711px #FFF, 169px 348px #FFF, 1232px 1294px #FFF, 1188px 1736px #FFF, 411px 1777px #FFF, 709px 511px #FFF, 1468px 977px #FFF, 1222px 459px #FFF, 1490px 1224px #FFF, 1538px 1655px #FFF, 1957px 1951px #FFF, 1276px 1237px #FFF, 1429px 1872px #FFF, 1657px 1971px #FFF, 1151px 1370px #FFF, 193px 533px #FFF, 963px 1357px #FFF, 702px 314px #FFF, 1464px 588px #FFF, 426px 828px #FFF, 1897px 1069px #FFF, 159px 1132px #FFF, 1673px 31px #FFF, 347px 1984px #FFF, 441px 1889px #FFF, 784px 1368px #FFF, 1313px 879px #FFF, 1189px 933px #FFF, 1254px 1719px #FFF, 1356px 120px #FFF, 117px 1875px #FFF, 184px 641px #FFF, 1274px 99px #FFF, 1159px 764px #FFF, 730px 1517px #FFF, 211px 974px #FFF, 922px 1702px #FFF, 1885px 1543px #FFF, 693px 1695px #FFF, 1676px 1783px #FFF, 490px 1237px #FFF, 140px 258px #FFF, 856px 1938px #FFF, 1881px 383px #FFF, 288px 900px #FFF, 1775px 519px #FFF, 39px 1890px #FFF, 1827px 1595px #FFF, 1482px 782px #FFF, 1742px 1211px #FFF, 1435px 1386px #FFF, 547px 345px #FFF, 1041px 25px #FFF, 1936px 1829px #FFF, 1284px 663px #FFF, 943px 969px #FFF, 1683px 657px #FFF, 248px 438px #FFF, 1050px 1447px #FFF, 727px 1763px #FFF, 1482px 737px #FFF, 245px 1402px #FFF, 647px 411px #FFF, 1000px 1721px #FFF, 1587px 85px #FFF, 841px 725px #FFF, 715px 330px #FFF, 526px 1962px #FFF, 294px 1527px #FFF, 1565px 1753px #FFF, 911px 1311px #FFF, 1518px 1295px #FFF, 315px 884px #FFF, 1310px 1737px #FFF, 342px 1884px #FFF, 1359px 1261px #FFF, 1733px 1897px #FFF, 405px 448px #FFF, 986px 239px #FFF, 1543px 1386px #FFF, 1426px 657px #FFF, 1873px 1627px #FFF, 1951px 916px #FFF, 1744px 364px #FFF, 113px 1020px #FFF, 509px 72px #FFF, 7px 1221px #FFF, 488px 494px #FFF, 1818px 1043px #FFF, 807px 638px #FFF, 1732px 46px #FFF, 1157px 1777px #FFF, 1743px 1462px #FFF, 1640px 1414px #FFF, 1769px 877px #FFF, 629px 1620px #FFF, 473px 1706px #FFF, 4px 1195px #FFF, 304px 858px #FFF, 197px 1857px #FFF, 1888px 598px #FFF, 116px 1253px #FFF, 1345px 1354px #FFF, 330px 1341px #FFF, 1527px 1846px #FFF, 966px 1709px #FFF, 1310px 1189px #FFF, 1975px 1931px #FFF, 1954px 1479px #FFF, 431px 805px #FFF, 1106px 1996px #FFF, 826px 1450px #FFF, 1992px 724px #FFF, 411px 1205px #FFF, 1975px 949px #FFF, 1744px 1637px #FFF, 627px 438px #FFF, 873px 1675px #FFF, 1657px 313px #FFF, 1028px 1093px #FFF, 1047px 1940px #FFF, 185px 304px #FFF, 824px 1815px #FFF, 476px 1782px #FFF, 1579px 1214px #FFF, 307px 1351px #FFF, 1169px 1478px #FFF, 921px 554px #FFF, 173px 551px #FFF, 1257px 1406px #FFF, 1097px 670px #FFF, 716px 1836px #FFF, 1952px 1902px #FFF, 779px 704px #FFF, 546px 59px #FFF, 663px 1591px #FFF, 100px 558px #FFF, 540px 1868px #FFF, 111px 1408px #FFF, 109px 41px #FFF, 903px 1426px #FFF, 23px 523px #FFF, 1433px 81px #FFF, 376px 515px #FFF, 1460px 934px #FFF, 1205px 1503px #FFF, 1989px 1387px #FFF, 289px 1082px #FFF, 19px 1642px #FFF, 451px 1418px #FFF, 1564px 772px #FFF, 327px 1885px #FFF, 69px 1149px #FFF, 736px 1194px #FFF, 1241px 1098px #FFF, 1105px 1808px #FFF, 1311px 36px #FFF, 811px 1086px #FFF, 716px 648px #FFF, 40px 1038px #FFF, 1583px 1714px #FFF, 349px 95px #FFF, 1487px 1453px #FFF, 1269px 66px #FFF, 1637px 1099px #FFF, 147px 1915px #FFF, 1134px 277px #FFF, 483px 417px #FFF, 651px 1121px #FFF, 98px 626px #FFF, 1974px 276px #FFF, 788px 116px #FFF, 1648px 1005px #FFF, 12px 1121px #FFF, 1019px 824px #FFF, 357px 1236px #FFF, 1429px 49px #FFF, 920px 1919px #FFF, 778px 1289px #FFF, 825px 1931px #FFF, 1921px 740px #FFF, 1167px 867px #FFF, 1232px 639px #FFF, 1181px 702px #FFF, 1546px 1855px #FFF, 1852px 1107px #FFF, 1789px 1760px #FFF, 1086px 22px #FFF, 1078px 1598px #FFF, 931px 1651px #FFF, 1496px 1063px #FFF, 599px 1029px #FFF, 181px 40px #FFF, 1551px 1688px #FFF, 1024px 975px #FFF, 193px 1690px #FFF, 437px 694px #FFF, 492px 1712px #FFF, 1844px 392px #FFF, 1093px 1808px #FFF, 118px 295px #FFF, 347px 899px #FFF, 137px 732px #FFF, 1755px 1325px #FFF, 306px 1399px #FFF, 172px 1360px #FFF, 178px 1605px #FFF, 1911px 311px #FFF, 1696px 1758px #FFF, 184px 1005px #FFF, 439px 746px #FFF, 1430px 350px #FFF, 1000px 800px #FFF, 1270px 1706px #FFF, 1029px 1862px #FFF, 1957px 828px #FFF, 1144px 757px #FFF, 1513px 477px #FFF, 642px 1552px #FFF, 1721px 1343px #FFF, 1371px 1071px #FFF, 1113px 1847px #FFF, 1119px 1896px #FFF, 452px 1044px #FFF, 231px 194px #FFF, 1664px 429px #FFF, 1586px 337px #FFF, 571px 876px #FFF, 390px 1112px #FFF, 1604px 652px #FFF, 38px 1642px #FFF, 388px 1017px #FFF, 1441px 1417px #FFF, 670px 238px #FFF, 1077px 1107px #FFF, 1053px 18px #FFF, 5px 1661px #FFF, 1795px 1816px #FFF, 383px 858px #FFF, 1741px 72px #FFF, 1077px 447px #FFF, 306px 1958px #FFF, 1051px 1220px #FFF, 542px 311px #FFF, 1214px 447px #FFF, 914px 1979px #FFF, 729px 1991px #FFF, 1093px 1173px #FFF, 1229px 719px #FFF, 1861px 959px #FFF, 1166px 1749px #FFF, 569px 850px #FFF, 9px 173px #FFF, 510px 1046px #FFF, 1557px 1357px #FFF, 1124px 1720px #FFF, 390px 1601px #FFF, 384px 1656px #FFF, 317px 79px #FFF;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 287px 1667px #FFF, 903px 537px #FFF, 708px 920px #FFF, 1512px 708px #FFF, 727px 119px #FFF, 773px 1694px #FFF, 1097px 1204px #FFF, 1034px 1406px #FFF, 1242px 965px #FFF, 1482px 1819px #FFF, 1846px 742px #FFF, 544px 688px #FFF, 463px 1378px #FFF, 80px 1216px #FFF, 50px 1915px #FFF, 870px 807px #FFF, 1506px 1202px #FFF, 43px 1103px #FFF, 234px 428px #FFF, 1668px 589px #FFF, 510px 1395px #FFF, 344px 1545px #FFF, 1630px 401px #FFF, 1405px 669px #FFF, 344px 446px #FFF, 622px 1397px #FFF, 503px 1521px #FFF, 1758px 438px #FFF, 1984px 852px #FFF, 747px 1245px #FFF, 825px 916px #FFF, 1236px 690px #FFF, 809px 251px #FFF, 1331px 154px #FFF, 1967px 1738px #FFF, 452px 1120px #FFF, 155px 559px #FFF, 1695px 1642px #FFF, 1425px 1600px #FFF, 579px 163px #FFF, 896px 931px #FFF, 158px 1010px #FFF, 142px 763px #FFF, 649px 1161px #FFF, 1994px 979px #FFF, 1779px 75px #FFF, 1213px 194px #FFF, 1072px 1242px #FFF, 746px 312px #FFF, 704px 49px #FFF, 140px 1169px #FFF, 327px 1653px #FFF, 1862px 1897px #FFF, 1225px 1958px #FFF, 1032px 1505px #FFF, 743px 1136px #FFF, 282px 904px #FFF, 1227px 1158px #FFF, 899px 679px #FFF, 188px 577px #FFF, 936px 825px #FFF, 846px 859px #FFF, 981px 1247px #FFF, 1956px 964px #FFF, 887px 1597px #FFF, 1883px 68px #FFF, 831px 367px #FFF, 1967px 92px #FFF, 242px 1000px #FFF, 1832px 1359px #FFF, 1712px 1695px #FFF, 210px 717px #FFF, 419px 1599px #FFF, 540px 161px #FFF, 1151px 1562px #FFF, 543px 1969px #FFF, 1513px 1590px #FFF, 804px 659px #FFF, 1400px 673px #FFF, 535px 541px #FFF, 377px 1711px #FFF, 625px 334px #FFF, 1477px 1254px #FFF, 413px 3px #FFF, 1519px 1291px #FFF, 955px 1413px #FFF, 387px 1188px #FFF, 792px 1993px #FFF, 674px 139px #FFF, 380px 440px #FFF, 971px 1666px #FFF, 485px 1703px #FFF, 887px 1639px #FFF, 1984px 1031px #FFF, 1391px 1040px #FFF, 1014px 1987px #FFF, 1433px 1943px #FFF, 42px 16px #FFF, 813px 1078px #FFF, 1124px 1477px #FFF, 1918px 276px #FFF, 1405px 1603px #FFF, 572px 559px #FFF, 318px 774px #FFF, 1889px 1523px #FFF, 753px 981px #FFF, 798px 1254px #FFF, 936px 724px #FFF, 414px 1289px #FFF, 1292px 1121px #FFF, 111px 401px #FFF, 1031px 692px #FFF, 1157px 1354px #FFF, 1971px 1084px #FFF, 1111px 270px #FFF, 177px 498px #FFF, 1462px 846px #FFF, 1280px 567px #FFF, 233px 242px #FFF, 1891px 1654px #FFF, 662px 1342px #FFF, 348px 1281px #FFF, 529px 1853px #FFF, 45px 442px #FFF, 1298px 1344px #FFF, 778px 813px #FFF, 143px 1454px #FFF, 967px 454px #FFF, 758px 575px #FFF, 1169px 87px #FFF, 1193px 1419px #FFF, 393px 222px #FFF, 429px 791px #FFF, 1072px 912px #FFF, 1904px 813px #FFF, 733px 1661px #FFF, 501px 229px #FFF, 499px 675px #FFF, 1579px 494px #FFF, 214px 1709px #FFF, 1855px 1231px #FFF, 779px 1596px #FFF, 120px 816px #FFF, 1689px 278px #FFF, 696px 410px #FFF, 253px 852px #FFF, 32px 274px #FFF, 966px 1095px #FFF, 899px 995px #FFF, 271px 1229px #FFF, 860px 673px #FFF, 1909px 1525px #FFF, 111px 473px #FFF, 993px 553px #FFF, 1350px 524px #FFF, 938px 703px #FFF, 251px 996px #FFF, 1637px 1447px #FFF, 443px 1952px #FFF, 425px 986px #FFF, 1883px 673px #FFF, 74px 1386px #FFF, 235px 1766px #FFF, 1364px 1088px #FFF, 1726px 497px #FFF, 1122px 1932px #FFF, 689px 420px #FFF, 29px 349px #FFF, 1602px 1544px #FFF, 87px 691px #FFF, 784px 166px #FFF, 276px 456px #FFF, 1652px 832px #FFF, 16px 51px #FFF, 1188px 1196px #FFF, 293px 1900px #FFF, 1127px 1448px #FFF, 812px 1796px #FFF, 1148px 809px #FFF, 1799px 739px #FFF, 913px 735px #FFF, 370px 917px #FFF, 209px 712px #FFF, 859px 1394px #FFF, 364px 1054px #FFF, 262px 1321px #FFF, 176px 175px #FFF, 1410px 1273px #FFF, 1611px 1518px #FFF, 1081px 1056px #FFF, 1806px 861px #FFF, 699px 1776px #FFF, 586px 1552px #FFF, 1793px 618px #FFF, 824px 1386px #FFF, 1241px 1977px #FFF, 58px 1701px #FFF, 909px 67px #FFF, 1436px 721px #FFF, 1704px 1069px #FFF, 262px 49px #FFF, 739px 1838px #FFF, 1929px 1167px #FFF, 662px 342px #FFF, 1229px 339px #FFF, 854px 1557px #FFF, 1153px 818px #FFF, 88px 1700px #FFF, 467px 1326px #FFF, 692px 379px #FFF, 1980px 1193px #FFF, 436px 97px #FFF, 1384px 1967px #FFF, 970px 1220px #FFF, 1124px 458px #FFF, 1448px 1712px #FFF, 958px 1826px #FFF, 937px 385px #FFF, 1113px 1278px #FFF, 1476px 1789px #FFF, 1449px 882px #FFF, 148px 867px #FFF, 1867px 1473px #FFF, 28px 41px #FFF, 335px 1581px #FFF, 1782px 1681px #FFF, 644px 355px #FFF, 1548px 454px #FFF, 1163px 947px #FFF, 438px 1802px #FFF, 662px 1946px #FFF, 1800px 759px #FFF, 901px 791px #FFF, 1462px 1174px #FFF, 1911px 1358px #FFF, 464px 950px #FFF, 1374px 1559px #FFF, 1276px 366px #FFF, 351px 909px #FFF, 350px 105px #FFF, 1074px 369px #FFF, 436px 1496px #FFF, 168px 1010px #FFF, 1089px 833px #FFF, 577px 1231px #FFF, 794px 1388px #FFF, 1271px 1613px #FFF, 880px 1382px #FFF, 1367px 318px #FFF, 424px 177px #FFF, 1827px 1826px #FFF, 677px 1163px #FFF, 659px 655px #FFF, 624px 1976px #FFF, 358px 784px #FFF, 534px 138px #FFF, 861px 1982px #FFF, 1183px 448px #FFF, 1389px 1920px #FFF, 1821px 1436px #FFF, 1656px 360px #FFF, 928px 50px #FFF, 1037px 1813px #FFF, 557px 113px #FFF, 470px 529px #FFF, 1132px 1041px #FFF, 1783px 629px #FFF, 1638px 1196px #FFF, 657px 745px #FFF, 125px 1609px #FFF, 1935px 1779px #FFF, 427px 395px #FFF, 1905px 1252px #FFF, 231px 1184px #FFF, 1659px 1449px #FFF, 1083px 1042px #FFF, 993px 1515px #FFF, 1065px 1276px #FFF, 1048px 1860px #FFF, 1778px 1517px #FFF, 169px 63px #FFF, 1480px 472px #FFF, 801px 1965px #FFF, 83px 1250px #FFF, 1384px 1780px #FFF, 992px 1580px #FFF, 1994px 1662px #FFF, 1241px 27px #FFF, 1963px 937px #FFF, 1136px 1514px #FFF, 263px 1404px #FFF, 619px 299px #FFF, 1832px 1198px #FFF, 608px 857px #FFF, 124px 1713px #FFF, 892px 1975px #FFF, 369px 810px #FFF, 969px 556px #FFF, 1139px 1789px #FFF, 462px 1041px #FFF, 1777px 790px #FFF, 187px 1103px #FFF, 270px 462px #FFF, 92px 611px #FFF, 940px 158px #FFF, 1542px 1398px #FFF, 1217px 160px #FFF, 990px 538px #FFF, 442px 1649px #FFF, 376px 16px #FFF, 483px 371px #FFF, 725px 919px #FFF, 1239px 1043px #FFF, 1936px 428px #FFF, 1203px 328px #FFF, 993px 1538px #FFF, 1937px 939px #FFF, 758px 1234px #FFF, 1710px 854px #FFF, 1095px 1794px #FFF, 1891px 653px #FFF, 418px 299px #FFF, 41px 1175px #FFF, 929px 1597px #FFF, 1924px 1677px #FFF, 1384px 1491px #FFF, 129px 184px #FFF, 591px 700px #FFF, 892px 1943px #FFF, 779px 830px #FFF, 508px 286px #FFF, 401px 1768px #FFF, 674px 645px #FFF, 1970px 1686px #FFF, 842px 1973px #FFF, 734px 1782px #FFF, 1756px 177px #FFF, 783px 1446px #FFF, 1305px 1967px #FFF, 412px 1606px #FFF, 1480px 524px #FFF, 1227px 948px #FFF, 1921px 8px #FFF, 672px 1364px #FFF, 1088px 1334px #FFF, 1702px 29px #FFF, 534px 975px #FFF, 822px 1296px #FFF, 1168px 419px #FFF, 1292px 1180px #FFF, 1568px 709px #FFF, 1973px 440px #FFF, 771px 332px #FFF, 1320px 145px #FFF, 921px 1537px #FFF, 473px 1457px #FFF, 1792px 739px #FFF, 1683px 1081px #FFF, 1965px 236px #FFF, 1922px 1588px #FFF, 571px 1356px #FFF, 1121px 1601px #FFF, 1409px 1812px #FFF, 1719px 551px #FFF, 428px 1862px #FFF, 1818px 48px #FFF, 892px 1002px #FFF, 111px 324px #FFF, 643px 1739px #FFF, 1911px 316px #FFF, 1015px 1498px #FFF, 1762px 966px #FFF, 1147px 551px #FFF, 1048px 1970px #FFF, 1376px 1553px #FFF, 713px 727px #FFF, 566px 1292px #FFF, 63px 1126px #FFF, 807px 1015px #FFF, 1756px 1040px #FFF, 699px 1848px #FFF, 1145px 1575px #FFF, 730px 1424px #FFF, 1961px 1063px #FFF, 359px 1679px #FFF, 786px 488px #FFF, 470px 83px #FFF, 167px 492px #FFF, 107px 1132px #FFF, 1248px 30px #FFF, 937px 599px #FFF, 1792px 989px #FFF, 227px 893px #FFF, 1630px 983px #FFF, 1602px 773px #FFF, 357px 1575px #FFF, 1161px 656px #FFF, 1429px 1098px #FFF, 1652px 1188px #FFF, 1173px 783px #FFF, 1277px 1865px #FFF, 10px 1166px #FFF, 1682px 343px #FFF, 364px 637px #FFF, 966px 1134px #FFF, 1854px 1437px #FFF, 1943px 1439px #FFF, 1789px 714px #FFF, 1595px 1143px #FFF, 1340px 365px #FFF, 74px 754px #FFF, 1570px 1826px #FFF, 714px 431px #FFF, 598px 400px #FFF, 850px 94px #FFF, 507px 1885px #FFF, 1241px 1172px #FFF, 1105px 1502px #FFF, 555px 1698px #FFF, 381px 1553px #FFF, 749px 568px #FFF, 1344px 852px #FFF, 618px 655px #FFF, 14px 57px #FFF, 1483px 429px #FFF, 1131px 1725px #FFF, 877px 1413px #FFF, 856px 1665px #FFF, 41px 80px #FFF, 1091px 1495px #FFF, 770px 863px #FFF, 253px 727px #FFF, 1259px 594px #FFF, 1484px 585px #FFF, 1266px 887px #FFF, 16px 1510px #FFF, 1087px 1743px #FFF, 616px 1692px #FFF, 79px 933px #FFF, 896px 255px #FFF, 1660px 1312px #FFF, 77px 1711px #FFF, 169px 348px #FFF, 1232px 1294px #FFF, 1188px 1736px #FFF, 411px 1777px #FFF, 709px 511px #FFF, 1468px 977px #FFF, 1222px 459px #FFF, 1490px 1224px #FFF, 1538px 1655px #FFF, 1957px 1951px #FFF, 1276px 1237px #FFF, 1429px 1872px #FFF, 1657px 1971px #FFF, 1151px 1370px #FFF, 193px 533px #FFF, 963px 1357px #FFF, 702px 314px #FFF, 1464px 588px #FFF, 426px 828px #FFF, 1897px 1069px #FFF, 159px 1132px #FFF, 1673px 31px #FFF, 347px 1984px #FFF, 441px 1889px #FFF, 784px 1368px #FFF, 1313px 879px #FFF, 1189px 933px #FFF, 1254px 1719px #FFF, 1356px 120px #FFF, 117px 1875px #FFF, 184px 641px #FFF, 1274px 99px #FFF, 1159px 764px #FFF, 730px 1517px #FFF, 211px 974px #FFF, 922px 1702px #FFF, 1885px 1543px #FFF, 693px 1695px #FFF, 1676px 1783px #FFF, 490px 1237px #FFF, 140px 258px #FFF, 856px 1938px #FFF, 1881px 383px #FFF, 288px 900px #FFF, 1775px 519px #FFF, 39px 1890px #FFF, 1827px 1595px #FFF, 1482px 782px #FFF, 1742px 1211px #FFF, 1435px 1386px #FFF, 547px 345px #FFF, 1041px 25px #FFF, 1936px 1829px #FFF, 1284px 663px #FFF, 943px 969px #FFF, 1683px 657px #FFF, 248px 438px #FFF, 1050px 1447px #FFF, 727px 1763px #FFF, 1482px 737px #FFF, 245px 1402px #FFF, 647px 411px #FFF, 1000px 1721px #FFF, 1587px 85px #FFF, 841px 725px #FFF, 715px 330px #FFF, 526px 1962px #FFF, 294px 1527px #FFF, 1565px 1753px #FFF, 911px 1311px #FFF, 1518px 1295px #FFF, 315px 884px #FFF, 1310px 1737px #FFF, 342px 1884px #FFF, 1359px 1261px #FFF, 1733px 1897px #FFF, 405px 448px #FFF, 986px 239px #FFF, 1543px 1386px #FFF, 1426px 657px #FFF, 1873px 1627px #FFF, 1951px 916px #FFF, 1744px 364px #FFF, 113px 1020px #FFF, 509px 72px #FFF, 7px 1221px #FFF, 488px 494px #FFF, 1818px 1043px #FFF, 807px 638px #FFF, 1732px 46px #FFF, 1157px 1777px #FFF, 1743px 1462px #FFF, 1640px 1414px #FFF, 1769px 877px #FFF, 629px 1620px #FFF, 473px 1706px #FFF, 4px 1195px #FFF, 304px 858px #FFF, 197px 1857px #FFF, 1888px 598px #FFF, 116px 1253px #FFF, 1345px 1354px #FFF, 330px 1341px #FFF, 1527px 1846px #FFF, 966px 1709px #FFF, 1310px 1189px #FFF, 1975px 1931px #FFF, 1954px 1479px #FFF, 431px 805px #FFF, 1106px 1996px #FFF, 826px 1450px #FFF, 1992px 724px #FFF, 411px 1205px #FFF, 1975px 949px #FFF, 1744px 1637px #FFF, 627px 438px #FFF, 873px 1675px #FFF, 1657px 313px #FFF, 1028px 1093px #FFF, 1047px 1940px #FFF, 185px 304px #FFF, 824px 1815px #FFF, 476px 1782px #FFF, 1579px 1214px #FFF, 307px 1351px #FFF, 1169px 1478px #FFF, 921px 554px #FFF, 173px 551px #FFF, 1257px 1406px #FFF, 1097px 670px #FFF, 716px 1836px #FFF, 1952px 1902px #FFF, 779px 704px #FFF, 546px 59px #FFF, 663px 1591px #FFF, 100px 558px #FFF, 540px 1868px #FFF, 111px 1408px #FFF, 109px 41px #FFF, 903px 1426px #FFF, 23px 523px #FFF, 1433px 81px #FFF, 376px 515px #FFF, 1460px 934px #FFF, 1205px 1503px #FFF, 1989px 1387px #FFF, 289px 1082px #FFF, 19px 1642px #FFF, 451px 1418px #FFF, 1564px 772px #FFF, 327px 1885px #FFF, 69px 1149px #FFF, 736px 1194px #FFF, 1241px 1098px #FFF, 1105px 1808px #FFF, 1311px 36px #FFF, 811px 1086px #FFF, 716px 648px #FFF, 40px 1038px #FFF, 1583px 1714px #FFF, 349px 95px #FFF, 1487px 1453px #FFF, 1269px 66px #FFF, 1637px 1099px #FFF, 147px 1915px #FFF, 1134px 277px #FFF, 483px 417px #FFF, 651px 1121px #FFF, 98px 626px #FFF, 1974px 276px #FFF, 788px 116px #FFF, 1648px 1005px #FFF, 12px 1121px #FFF, 1019px 824px #FFF, 357px 1236px #FFF, 1429px 49px #FFF, 920px 1919px #FFF, 778px 1289px #FFF, 825px 1931px #FFF, 1921px 740px #FFF, 1167px 867px #FFF, 1232px 639px #FFF, 1181px 702px #FFF, 1546px 1855px #FFF, 1852px 1107px #FFF, 1789px 1760px #FFF, 1086px 22px #FFF, 1078px 1598px #FFF, 931px 1651px #FFF, 1496px 1063px #FFF, 599px 1029px #FFF, 181px 40px #FFF, 1551px 1688px #FFF, 1024px 975px #FFF, 193px 1690px #FFF, 437px 694px #FFF, 492px 1712px #FFF, 1844px 392px #FFF, 1093px 1808px #FFF, 118px 295px #FFF, 347px 899px #FFF, 137px 732px #FFF, 1755px 1325px #FFF, 306px 1399px #FFF, 172px 1360px #FFF, 178px 1605px #FFF, 1911px 311px #FFF, 1696px 1758px #FFF, 184px 1005px #FFF, 439px 746px #FFF, 1430px 350px #FFF, 1000px 800px #FFF, 1270px 1706px #FFF, 1029px 1862px #FFF, 1957px 828px #FFF, 1144px 757px #FFF, 1513px 477px #FFF, 642px 1552px #FFF, 1721px 1343px #FFF, 1371px 1071px #FFF, 1113px 1847px #FFF, 1119px 1896px #FFF, 452px 1044px #FFF, 231px 194px #FFF, 1664px 429px #FFF, 1586px 337px #FFF, 571px 876px #FFF, 390px 1112px #FFF, 1604px 652px #FFF, 38px 1642px #FFF, 388px 1017px #FFF, 1441px 1417px #FFF, 670px 238px #FFF, 1077px 1107px #FFF, 1053px 18px #FFF, 5px 1661px #FFF, 1795px 1816px #FFF, 383px 858px #FFF, 1741px 72px #FFF, 1077px 447px #FFF, 306px 1958px #FFF, 1051px 1220px #FFF, 542px 311px #FFF, 1214px 447px #FFF, 914px 1979px #FFF, 729px 1991px #FFF, 1093px 1173px #FFF, 1229px 719px #FFF, 1861px 959px #FFF, 1166px 1749px #FFF, 569px 850px #FFF, 9px 173px #FFF, 510px 1046px #FFF, 1557px 1357px #FFF, 1124px 1720px #FFF, 390px 1601px #FFF, 384px 1656px #FFF, 317px 79px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1502px 1079px #FFF, 1141px 1864px #FFF, 237px 47px #FFF, 694px 1518px #FFF, 98px 1803px #FFF, 1201px 645px #FFF, 24px 270px #FFF, 941px 327px #FFF, 1198px 1743px #FFF, 442px 333px #FFF, 1162px 40px #FFF, 957px 401px #FFF, 554px 1458px #FFF, 460px 1271px #FFF, 507px 746px #FFF, 1904px 1031px #FFF, 291px 1838px #FFF, 546px 1071px #FFF, 1708px 1308px #FFF, 301px 388px #FFF, 1211px 585px #FFF, 375px 533px #FFF, 1696px 216px #FFF, 367px 1544px #FFF, 399px 1898px #FFF, 820px 1871px #FFF, 421px 1896px #FFF, 617px 1453px #FFF, 1764px 1159px #FFF, 1542px 279px #FFF, 1876px 1534px #FFF, 41px 1006px #FFF, 1202px 1715px #FFF, 973px 1046px #FFF, 130px 1138px #FFF, 921px 952px #FFF, 1185px 572px #FFF, 24px 705px #FFF, 1070px 998px #FFF, 1661px 356px #FFF, 974px 690px #FFF, 1730px 679px #FFF, 863px 1444px #FFF, 1664px 290px #FFF, 1065px 1303px #FFF, 546px 1858px #FFF, 676px 618px #FFF, 1312px 307px #FFF, 588px 230px #FFF, 1147px 600px #FFF, 894px 1915px #FFF, 1967px 616px #FFF, 1462px 704px #FFF, 1937px 859px #FFF, 951px 1767px #FFF, 1654px 1116px #FFF, 552px 34px #FFF, 527px 203px #FFF, 317px 791px #FFF, 581px 24px #FFF, 1025px 1880px #FFF, 133px 632px #FFF, 949px 626px #FFF, 518px 1673px #FFF, 1036px 552px #FFF, 1828px 1989px #FFF, 1055px 1975px #FFF, 804px 1801px #FFF, 1499px 388px #FFF, 893px 681px #FFF, 581px 816px #FFF, 333px 1877px #FFF, 1483px 668px #FFF, 439px 1327px #FFF, 961px 1311px #FFF, 1716px 398px #FFF, 725px 1895px #FFF, 368px 1800px #FFF, 569px 1032px #FFF, 703px 726px #FFF, 140px 1962px #FFF, 1093px 626px #FFF, 228px 345px #FFF, 1423px 1771px #FFF, 257px 1506px #FFF, 646px 519px #FFF, 1890px 333px #FFF, 1952px 1338px #FFF, 1133px 1896px #FFF, 1277px 1668px #FFF, 1930px 600px #FFF, 675px 1801px #FFF, 1108px 18px #FFF, 223px 1364px #FFF, 462px 754px #FFF, 58px 1008px #FFF, 268px 1649px #FFF, 1674px 827px #FFF, 784px 1439px #FFF, 1825px 84px #FFF, 443px 1815px #FFF, 1750px 1656px #FFF, 1679px 921px #FFF, 936px 951px #FFF, 1823px 1040px #FFF, 1293px 82px #FFF, 521px 1591px #FFF, 1052px 832px #FFF, 707px 1354px #FFF, 1625px 219px #FFF, 1218px 1385px #FFF, 873px 969px #FFF, 1464px 966px #FFF, 1234px 592px #FFF, 1685px 1084px #FFF, 273px 835px #FFF, 97px 526px #FFF, 1386px 1333px #FFF, 995px 547px #FFF, 1825px 1870px #FFF, 1709px 1539px #FFF, 786px 1205px #FFF, 1597px 1831px #FFF, 1426px 1620px #FFF, 174px 551px #FFF, 1752px 1313px #FFF, 975px 521px #FFF, 505px 1254px #FFF, 1802px 1951px #FFF, 698px 773px #FFF, 1113px 1137px #FFF, 827px 1452px #FFF, 1765px 849px #FFF, 546px 181px #FFF, 1742px 60px #FFF, 502px 395px #FFF, 1160px 1714px #FFF, 221px 780px #FFF, 354px 444px #FFF, 1799px 490px #FFF, 242px 1235px #FFF, 1439px 663px #FFF, 1678px 1622px #FFF, 792px 1742px #FFF, 1853px 580px #FFF, 1044px 1970px #FFF, 1585px 518px #FFF, 1980px 1701px #FFF, 151px 1614px #FFF, 618px 1367px #FFF, 1712px 1246px #FFF, 39px 1572px #FFF, 548px 908px #FFF, 168px 1629px #FFF, 1062px 260px #FFF, 1707px 996px #FFF, 1211px 1240px #FFF, 1469px 595px #FFF, 1776px 1014px #FFF, 125px 1294px #FFF, 1780px 1180px #FFF, 169px 1112px #FFF, 1311px 1537px #FFF, 144px 1720px #FFF, 1771px 948px #FFF, 1307px 805px #FFF, 996px 789px #FFF, 366px 350px #FFF, 1831px 101px #FFF, 1205px 1944px #FFF, 1691px 222px #FFF, 1826px 1186px #FFF, 667px 1360px #FFF, 1476px 106px #FFF, 1169px 1960px #FFF, 1576px 41px #FFF, 294px 126px #FFF, 860px 759px #FFF, 464px 975px #FFF, 1179px 707px #FFF, 170px 1360px #FFF, 846px 231px #FFF, 1771px 1872px #FFF, 583px 688px #FFF, 411px 1572px #FFF, 120px 1710px #FFF, 218px 61px #FFF, 472px 416px #FFF, 1319px 1296px #FFF, 1469px 465px #FFF, 1113px 653px #FFF, 1835px 673px #FFF, 95px 693px #FFF, 166px 174px #FFF, 449px 1300px #FFF, 418px 1573px #FFF, 485px 1315px #FFF, 1940px 776px #FFF, 1939px 120px #FFF, 1216px 183px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1502px 1079px #FFF, 1141px 1864px #FFF, 237px 47px #FFF, 694px 1518px #FFF, 98px 1803px #FFF, 1201px 645px #FFF, 24px 270px #FFF, 941px 327px #FFF, 1198px 1743px #FFF, 442px 333px #FFF, 1162px 40px #FFF, 957px 401px #FFF, 554px 1458px #FFF, 460px 1271px #FFF, 507px 746px #FFF, 1904px 1031px #FFF, 291px 1838px #FFF, 546px 1071px #FFF, 1708px 1308px #FFF, 301px 388px #FFF, 1211px 585px #FFF, 375px 533px #FFF, 1696px 216px #FFF, 367px 1544px #FFF, 399px 1898px #FFF, 820px 1871px #FFF, 421px 1896px #FFF, 617px 1453px #FFF, 1764px 1159px #FFF, 1542px 279px #FFF, 1876px 1534px #FFF, 41px 1006px #FFF, 1202px 1715px #FFF, 973px 1046px #FFF, 130px 1138px #FFF, 921px 952px #FFF, 1185px 572px #FFF, 24px 705px #FFF, 1070px 998px #FFF, 1661px 356px #FFF, 974px 690px #FFF, 1730px 679px #FFF, 863px 1444px #FFF, 1664px 290px #FFF, 1065px 1303px #FFF, 546px 1858px #FFF, 676px 618px #FFF, 1312px 307px #FFF, 588px 230px #FFF, 1147px 600px #FFF, 894px 1915px #FFF, 1967px 616px #FFF, 1462px 704px #FFF, 1937px 859px #FFF, 951px 1767px #FFF, 1654px 1116px #FFF, 552px 34px #FFF, 527px 203px #FFF, 317px 791px #FFF, 581px 24px #FFF, 1025px 1880px #FFF, 133px 632px #FFF, 949px 626px #FFF, 518px 1673px #FFF, 1036px 552px #FFF, 1828px 1989px #FFF, 1055px 1975px #FFF, 804px 1801px #FFF, 1499px 388px #FFF, 893px 681px #FFF, 581px 816px #FFF, 333px 1877px #FFF, 1483px 668px #FFF, 439px 1327px #FFF, 961px 1311px #FFF, 1716px 398px #FFF, 725px 1895px #FFF, 368px 1800px #FFF, 569px 1032px #FFF, 703px 726px #FFF, 140px 1962px #FFF, 1093px 626px #FFF, 228px 345px #FFF, 1423px 1771px #FFF, 257px 1506px #FFF, 646px 519px #FFF, 1890px 333px #FFF, 1952px 1338px #FFF, 1133px 1896px #FFF, 1277px 1668px #FFF, 1930px 600px #FFF, 675px 1801px #FFF, 1108px 18px #FFF, 223px 1364px #FFF, 462px 754px #FFF, 58px 1008px #FFF, 268px 1649px #FFF, 1674px 827px #FFF, 784px 1439px #FFF, 1825px 84px #FFF, 443px 1815px #FFF, 1750px 1656px #FFF, 1679px 921px #FFF, 936px 951px #FFF, 1823px 1040px #FFF, 1293px 82px #FFF, 521px 1591px #FFF, 1052px 832px #FFF, 707px 1354px #FFF, 1625px 219px #FFF, 1218px 1385px #FFF, 873px 969px #FFF, 1464px 966px #FFF, 1234px 592px #FFF, 1685px 1084px #FFF, 273px 835px #FFF, 97px 526px #FFF, 1386px 1333px #FFF, 995px 547px #FFF, 1825px 1870px #FFF, 1709px 1539px #FFF, 786px 1205px #FFF, 1597px 1831px #FFF, 1426px 1620px #FFF, 174px 551px #FFF, 1752px 1313px #FFF, 975px 521px #FFF, 505px 1254px #FFF, 1802px 1951px #FFF, 698px 773px #FFF, 1113px 1137px #FFF, 827px 1452px #FFF, 1765px 849px #FFF, 546px 181px #FFF, 1742px 60px #FFF, 502px 395px #FFF, 1160px 1714px #FFF, 221px 780px #FFF, 354px 444px #FFF, 1799px 490px #FFF, 242px 1235px #FFF, 1439px 663px #FFF, 1678px 1622px #FFF, 792px 1742px #FFF, 1853px 580px #FFF, 1044px 1970px #FFF, 1585px 518px #FFF, 1980px 1701px #FFF, 151px 1614px #FFF, 618px 1367px #FFF, 1712px 1246px #FFF, 39px 1572px #FFF, 548px 908px #FFF, 168px 1629px #FFF, 1062px 260px #FFF, 1707px 996px #FFF, 1211px 1240px #FFF, 1469px 595px #FFF, 1776px 1014px #FFF, 125px 1294px #FFF, 1780px 1180px #FFF, 169px 1112px #FFF, 1311px 1537px #FFF, 144px 1720px #FFF, 1771px 948px #FFF, 1307px 805px #FFF, 996px 789px #FFF, 366px 350px #FFF, 1831px 101px #FFF, 1205px 1944px #FFF, 1691px 222px #FFF, 1826px 1186px #FFF, 667px 1360px #FFF, 1476px 106px #FFF, 1169px 1960px #FFF, 1576px 41px #FFF, 294px 126px #FFF, 860px 759px #FFF, 464px 975px #FFF, 1179px 707px #FFF, 170px 1360px #FFF, 846px 231px #FFF, 1771px 1872px #FFF, 583px 688px #FFF, 411px 1572px #FFF, 120px 1710px #FFF, 218px 61px #FFF, 472px 416px #FFF, 1319px 1296px #FFF, 1469px 465px #FFF, 1113px 653px #FFF, 1835px 673px #FFF, 95px 693px #FFF, 166px 174px #FFF, 449px 1300px #FFF, 418px 1573px #FFF, 485px 1315px #FFF, 1940px 776px #FFF, 1939px 120px #FFF, 1216px 183px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 973px 1731px #FFF, 741px 1600px #FFF, 826px 1371px #FFF, 1854px 1951px #FFF, 1798px 1355px #FFF, 177px 688px #FFF, 59px 1615px #FFF, 677px 1003px #FFF, 1436px 699px #FFF, 188px 1956px #FFF, 1597px 537px #FFF, 195px 407px #FFF, 367px 3px #FFF, 1928px 398px #FFF, 787px 452px #FFF, 1799px 511px #FFF, 116px 906px #FFF, 312px 1929px #FFF, 409px 1466px #FFF, 1018px 1735px #FFF, 1566px 1314px #FFF, 1172px 223px #FFF, 1905px 842px #FFF, 1114px 1967px #FFF, 1364px 521px #FFF, 521px 1232px #FFF, 1355px 1685px #FFF, 1863px 753px #FFF, 970px 673px #FFF, 1400px 820px #FFF, 168px 261px #FFF, 1675px 30px #FFF, 245px 543px #FFF, 1845px 1010px #FFF, 1916px 795px #FFF, 464px 82px #FFF, 1217px 1962px #FFF, 776px 604px #FFF, 55px 1010px #FFF, 902px 50px #FFF, 1147px 1845px #FFF, 1243px 1006px #FFF, 1786px 1199px #FFF, 444px 224px #FFF, 1309px 38px #FFF, 664px 271px #FFF, 1516px 1333px #FFF, 125px 272px #FFF, 322px 311px #FFF, 597px 90px #FFF, 415px 1655px #FFF, 1977px 1883px #FFF, 25px 1261px #FFF, 1358px 126px #FFF, 1326px 698px #FFF, 1324px 872px #FFF, 1191px 1693px #FFF, 1029px 173px #FFF, 1528px 1290px #FFF, 1412px 769px #FFF, 1931px 22px #FFF, 1416px 1961px #FFF, 1102px 31px #FFF, 484px 583px #FFF, 235px 6px #FFF, 809px 1804px #FFF, 500px 1925px #FFF, 82px 885px #FFF, 614px 1296px #FFF, 1214px 293px #FFF, 1250px 1299px #FFF, 1082px 1119px #FFF, 1962px 912px #FFF, 803px 197px #FFF, 573px 1846px #FFF, 62px 1222px #FFF, 844px 821px #FFF, 1778px 909px #FFF, 682px 1796px #FFF, 288px 671px #FFF, 1986px 929px #FFF, 709px 514px #FFF, 395px 14px #FFF, 899px 1791px #FFF, 1075px 467px #FFF, 133px 1328px #FFF, 170px 192px #FFF, 1876px 723px #FFF, 249px 904px #FFF, 487px 766px #FFF, 97px 56px #FFF, 1423px 500px #FFF, 149px 1327px #FFF, 618px 542px #FFF, 23px 778px #FFF, 1994px 399px #FFF, 742px 1207px #FFF, 1096px 1291px #FFF, 1962px 603px #FFF, 1963px 555px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 973px 1731px #FFF, 741px 1600px #FFF, 826px 1371px #FFF, 1854px 1951px #FFF, 1798px 1355px #FFF, 177px 688px #FFF, 59px 1615px #FFF, 677px 1003px #FFF, 1436px 699px #FFF, 188px 1956px #FFF, 1597px 537px #FFF, 195px 407px #FFF, 367px 3px #FFF, 1928px 398px #FFF, 787px 452px #FFF, 1799px 511px #FFF, 116px 906px #FFF, 312px 1929px #FFF, 409px 1466px #FFF, 1018px 1735px #FFF, 1566px 1314px #FFF, 1172px 223px #FFF, 1905px 842px #FFF, 1114px 1967px #FFF, 1364px 521px #FFF, 521px 1232px #FFF, 1355px 1685px #FFF, 1863px 753px #FFF, 970px 673px #FFF, 1400px 820px #FFF, 168px 261px #FFF, 1675px 30px #FFF, 245px 543px #FFF, 1845px 1010px #FFF, 1916px 795px #FFF, 464px 82px #FFF, 1217px 1962px #FFF, 776px 604px #FFF, 55px 1010px #FFF, 902px 50px #FFF, 1147px 1845px #FFF, 1243px 1006px #FFF, 1786px 1199px #FFF, 444px 224px #FFF, 1309px 38px #FFF, 664px 271px #FFF, 1516px 1333px #FFF, 125px 272px #FFF, 322px 311px #FFF, 597px 90px #FFF, 415px 1655px #FFF, 1977px 1883px #FFF, 25px 1261px #FFF, 1358px 126px #FFF, 1326px 698px #FFF, 1324px 872px #FFF, 1191px 1693px #FFF, 1029px 173px #FFF, 1528px 1290px #FFF, 1412px 769px #FFF, 1931px 22px #FFF, 1416px 1961px #FFF, 1102px 31px #FFF, 484px 583px #FFF, 235px 6px #FFF, 809px 1804px #FFF, 500px 1925px #FFF, 82px 885px #FFF, 614px 1296px #FFF, 1214px 293px #FFF, 1250px 1299px #FFF, 1082px 1119px #FFF, 1962px 912px #FFF, 803px 197px #FFF, 573px 1846px #FFF, 62px 1222px #FFF, 844px 821px #FFF, 1778px 909px #FFF, 682px 1796px #FFF, 288px 671px #FFF, 1986px 929px #FFF, 709px 514px #FFF, 395px 14px #FFF, 899px 1791px #FFF, 1075px 467px #FFF, 133px 1328px #FFF, 170px 192px #FFF, 1876px 723px #FFF, 249px 904px #FFF, 487px 766px #FFF, 97px 56px #FFF, 1423px 500px #FFF, 149px 1327px #FFF, 618px 542px #FFF, 23px 778px #FFF, 1994px 399px #FFF, 742px 1207px #FFF, 1096px 1291px #FFF, 1962px 603px #FFF, 1963px 555px #FFF;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
  font-family: "lato", sans-serif;
  color: #FFF;
  background: radial-gradient(ellipse at bottom, #130c16 0%, #0f090d 100%);
}

#horizon {
  position: absolute;
  width: 160%;
  height: 70%;
  border-radius: 100%/100%;
  background: #f3e4ef;
  -webkit-filter: blur(30px);
  left: 50%;
  bottom: -20%;
  margin-left: -80%;
}

#horizon:before {
  content: " ";
  position: absolute;
  width: 81.25%;
  height: 70%;
  border-radius: 100%/100%;
  background: #480138;
  -webkit-filter: blur(30px);
  opacity: 0.6;
  margin-left: 9.375%;
}

#horizon:after {
  content: " ";
  position: absolute;
  width: 32%;
  height: 20%;
  border-radius: 650px/350px;
  background: rgb(244, 227, 252);
  -webkit-filter: blur(30px);
  opacity: 0.5;
  margin-left: 34%;
}

#horizon .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  background: #882196;
  -webkit-filter: blur(200px);
  opacity: 0.7;
  top: -10%;
}

#earth {
  position: absolute;
  width: 200%;
  height: 100%;
  background: url('/assets/img/surfacebg2.png');
  border-radius: 100%/100%;
  left: 50%;
  bottom: -50%;
  margin-left: -100%;
}

#earth:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  box-shadow: inset 0px 0px 62px 140px rgba(100, 46, 11, 0.85);
}


// #title {
//   position: absolute;
//   font-weight: 300;
//   top: 36%;
//   left: 0;
//   right: 0;
//   margin-top: -80px;
//   font-size: 130px;
//   text-align: center;
//   letter-spacing: 20px;
//   padding-left: 20px;
//   background: -webkit-linear-gradient(white, #dbdde0, #38495a);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   animation-duration: 6s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease;
//   animation-name: animGravity;
// }

// #subtitle {
//   position: absolute;
//   font-weight: 300;
//   top: 70%;
//   left: 0;
//   right: 0;
//   font-size: 25px;
//   text-align: center;
//   letter-spacing: 6px;
// }

// #subtitle span {
//   color: #d8d8d8;
//   animation-duration: 6s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease;
// }

// #subtitle span:nth-child(1) {
//   animation-name: animDont;
// }

// #subtitle span:nth-child(2) {
//   animation-name: animLet;
// }

// #subtitle span:nth-child(3) {
//   animation-name: animGo;
// }

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }

  30%,
  80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }

  92%,
  100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animDont {

  0%,
  15% {
    transform: translateY(-26px);
    opacity: 0;
  }

  35%,
  80% {
    transform: translateY(0px);
    opacity: 1;
  }

  92%,
  100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animLet {

  0%,
  25% {
    transform: translateY(-26px);
    opacity: 0;
  }

  45%,
  80% {
    transform: translateY(0px);
    opacity: 1;
  }

  92%,
  100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animGo {

  0%,
  35% {
    transform: translateY(-26px);
    opacity: 0;
  }

  55%,
  80% {
    transform: translateY(0px);
    opacity: 1;
  }

  92%,
  100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}


body {
  background: linear-gradient(#2C2020, #390F33);
}

h1 {
  font-family: 'Titillium Web', sans-serif;
}

.card-title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600
}

.table td {
  vertical-align: middle;
}

pre {
  counter-reset: line;
}

.building {
  background: linear-gradient(to bottom, #AF7B4C 50%, #9C693C 50%);
}

.steel {
  background: linear-gradient(to bottom, #AF7B4C 50%, #9C693C 50%);
}

.earth {
  background: linear-gradient(to bottom, #175698 50%, #1B1B4F 50%);
}

.space {
  background: linear-gradient(to bottom, #6B6B6B 50%, #3C3C3C 50%);
}

.titanium {
  background: linear-gradient(to bottom, #6B6B6B 50%, #3C3C3C 50%);
}

.heat {
  background: linear-gradient(to bottom, #FF8542 50%, #F86728 50%);
}

.energy {
  background: linear-gradient(to bottom, #A13E8E 50%, #8A2986 50%);
}

.plant {
  background: linear-gradient(to bottom, #83C138 50%, #58B133 50%);
}

.microbe {
  background: linear-gradient(to bottom, #EAE845 50%, #B8CC13 50%);
}

.animal {
  background: linear-gradient(to bottom, #839D42 50%, #48753A 50%);
}

.science {
  background: linear-gradient(to bottom, #F7F9F8 50%, #F2F1EF 50%);
}

.event {
  background: linear-gradient(to bottom, #FCE907 50%, #FAD606 50%);
}

.city {
  background: linear-gradient(to bottom, #CCCCCC 50%, #A6A6A6 50%);
}

.venus {
  background: linear-gradient(to bottom, #07AAE3 50%, #0E7DC4 50%);
}

.science .fas {
  font-size: 16px;
}

.animal .fas {
  font-size: 16px;
  font-weight: bold;
}

.space .fas {
  color: #FFEC3D;
  font-size: 16px;
}

.titanium .fa-star {
  color: #FFEC3D;
  font-size: 16px;
}

.plant .fas {
  color: #36844A;
  font-size: 14px;
}

.earth .fas {
  color: #fff;
  font-size: 16px;
}

.energy .fas {
  color: #fff;
  font-size: 15px;
}

.event .fas {
  font-size: 16px;
}

.heat .fas {
  color: #FEE030;
  font-size: 15px;
}

.building .fas {
  font-size: 14px;
}

.city .fas {
  font-size: 14px;
}

.jovian {
  background: url(/assets/img/jovian.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding-top: 0px;
}

.tag.vp {
  background: url(/assets/img/mars.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  font-weight: 900;
  font-size: 16px;
  vertical-align: middle;
  padding-top: 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F9CD08;
}

.tag.venus {
  font-weight: 900;
  font-size: 14px;
  padding-top: 0px;
  color: #fff;
}

.tag {
  border: 2px solid #000;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  float: left;
  margin-left: 3px;
}

a .tag {
  color: #000
}

.prod {
  height: 26px;
  width: 26px;
  float: right;
  text-align: center;
  vertical-align: middle;
  margin-left: 3px;
  border: 2px solid #000;
}

.prod-box {
  float: left;
}

.prod.mc {
  height: 26px;
  width: 26px;
  font-size: 15px;
}

td.type {
  height: 1px;
}

.type-Automated {
  border-left: 4px solid #7EB61F;
  height: 100%;
}

.type-Active {
  border-left: 4px solid #2C7FC1;
  height: 100%;
}

.type-Event {
  border-left: 4px solid #F6B205;
  height: 100%;
}

.mc {
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  background: linear-gradient(to bottom right, #F9E100, #F18F00);
  border: 2px solid #000;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
}

a {
  color: #47a5ed
}

#header {
  color: #f7f7f7;
  font-size: 14px;
}

.fas.fa-thermometer-full {
  background: -webkit-linear-gradient(#26BFF8, #D80A1E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hexagon {
  position: relative;
  width: 20px;
  height: 11.55px;
  background-color: #1C6AC6;
  margin: 5.77px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 5.77px solid #1C6AC6;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #1C6AC6;
}

.production-bg {
  background-color: #956743;
  padding: 2px 2px;
  display: inline-block;
  border: 1px solid #000;
  font-weight: bold;
}

a {
  cursor: pointer;
}
